.card-body {
    flex: 1 1 auto;
    padding: 1rem 1rem;
    text-align: center;
}

.btn-primary {
    color: black;
    background-color: #ff9800;
    border-color: #ff9800;
    
}

.btn-primary:hover {
    color: #fff;
    background-color: #774700;
    border-color: #ff9800;
}

.btn-primary:focus {
    color: #fff;
    background-color: #774700;
    border-color: #ff9800;
    box-shadow: 0 0 0 0.25rem #ff9800;
}


.card-img-top {
    width: 100%;
    height: 22rem;
}

.card {
    margin: 6px
}

.add-to-cart {
    width: 100%;
    border-radius: 1rem;
}

.buy-now {
    color: white;
    font-weight: 600;
    background-color: #0b2130;
    border-color: #057d81;
}

.buy-now:hover {
    color: white;
    font-weight: 600;
    background-color: #557441;
    border-color: #415f74;
}

.buy-now:focus {
    color: white;
    font-weight: 600;
    background-color: #557441;
    border-color: #415f74;
    box-shadow: 0 0 0 0.25rem #557441;
}

.quantity-input {
    width: 4rem;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 12px;
    height: 2rem;
    text-align: center;
    font-size: large;
}

.quantity-input:focus-visible {
    width: 4rem;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 12px;
    height: 2rem;
    outline: none;
}


.quantity-wrapper {
    text-align:center;
}

.quantity-btn {
    border-radius: 3rem;
}

.product-card-div:hover {
    background-color: #bbbec2;
}

.Badge {
    width: 9rem;
    height: 2rem;
}

.Badge-wrapper {
    text-align: center;
}

.color-code {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.fa-circle {
    font-size: 1rem;
    margin-top: 5px;
    margin-right: 1rem;
}

.circle-green {
    color:green;
}

.circle-blue {
    color:rgb(57, 57, 172);
}

.circle-black {
    color:black;
}

.circle-cream {
    color: rgb(240, 204, 174)
}

.circle-pink {
    color:pink;
}

.circle-gray {
    color:gray;
}

.circle-white {
    color:white;
}

.discount-wrapper {
    padding-left: 15px;
    border-radius: 28px;
    width: 54%;
    margin: auto;
    background-color: rgb(39 103 58);
    color: white;
    padding-right: 15px;
    padding-top:4px;
    padding-bottom: 4px;
}